/* @charset "utf-8"; 최신버전에서는 오류가 뜨므로 생략한다. */
@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @->엣사인이라고 읽음 */
*,*::before,*::after{
  box-sizing: border-box;
}
html{
  font-size:10px;
}
body{
  font-size:1.6rem;/*html 10px * 1.6= 16px으로 설정*/
  color:#181818;
  background-color: #fff;
  /* emmet: m~px */
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* color 16진수 표현 0~F 16*16=256컬러 R:256표현 G:256표현 B:256표현 #RRGGBB 축약해서 세글자로 표현가능*/
/* 레이아웃 */

.container{ 
  background-color: #ccc;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}

.header,.visual,.main,.slogan,.footer{
  width:940px;
  
  /* margin:0 auto;  */
  /* margin을 안쓰고 flex box를 이용해서 가운데 정렬 해보기 */
}
.header{
  background-color: yellow;
  
}

.visual{
  height:120px;
  background-color:lime
}
/* 메인콘텐츠 */
.main{
  background-color:blue;
  min-height:450px;
  display:flex;
  flex-flow:row nowrap;/* 명시적으로 nowrap 선언하는게 좋다(기본값으로 지정함) 나중에 헷갈릴 수 있으니 기본값 지정*/
  justify-content: space-between;
  padding:30px;
  align-items: flex-start;
}

.group1{
  background-color:pink;
  width:250px;
}
.group2{
  background-color:lightgreen;
  width:380px;
}
.group3{
  background-color:coral;
  width:190px;
}

.slogan{
 background-color: orange;

}

.footer-bg{
  width:100%;
  background-color: purple;
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
}
.footer{
  background-color:skyblue;
}





/* 단축키 */
/* shift+alt ↓ :한줄 복사 */